h1 {
  color: rgb(245, 246, 248);
  text-align: center;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-color: white;
  border-style: ridge;
  border-width: 3px;
  border-left: 10px;
  border-radius: 10% 30% 50% 70%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-right:50px;
  margin-left: 50px;
}

h3 {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

body {
  background-color: #010b0f;
  color: white;
}
button {
  color: yellow;
  padding: 5px 10px
}
button:hover {
  color: white;
  background-color: blueviolet;
  font-size: 10px;
}
#googlebutton {
  background-color: yellow;
  color: #006466;
}
#conversionchart { 
  width: 200px;
  border: 5px double rgb(248, 245, 246);
  padding: 20px;
  display: inline;
}
#brownie {
  border-radius: 100%;
  width: 400px;
  border: 2px dotted darkorange;
  padding: 5px;
  margin-left: 40%
}