nav {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
}

.container {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-between;
}

/* RECIPE LIST
=============================================== */

.recipe-list-item {
  width: 18%;
  height: 100%;
  padding:.5em;
  border-radius: 5%;
}
.recipe-list-item-img-container {
  width: 100%;
  height: 25rem;
  border-radius: 5%;
}

.recipe-list-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.recipe-list-item-title {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  padding-top: 2px;
  text-align: center;
  border-top: 1px solid white;
  border-spacing: 5px;
}
.recipe-list-item:hover .recipe-list-item-img {
  opacity: .5;
  transition-duration: .5s;
}

.recipe-list-item:hover .recipe-list-item-title {
  color: rgb(99, 116, 192);
  border-color: rgb(99, 116, 192);
  transition-duration: .5s;
  border-top: 1px solid rgb(197, 196, 196);
  border-spacing: 5px;
}