h1 {
  color: rgb(245, 246, 248);
  text-align: center;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 900px;
  border-color: black;
  border-width: 3px;
  border-style: dotted;
  border-radius: 10%
}
h2 {
  color: #faf9fc02;
}
h3 {
  color: rgb(244, 247, 247);
  font-weight: normal;
}
h4 {
  color: rgb(246, 250, 250);
}
h5 {
  color: rgb(244, 247, 247);
}
h6 {
  color: rgb(246, 248, 248);
}
body {
  background-color: #010b0f;
  color: white
}
button {
  color: yellow
}
button:hover {
  color:white;
  background-color: blueviolet;
}
#googlebutton{
  background-color: yellow;
  color: #006466;
}
